player-connection-mode=Listen
player-connection-guid=2897561340
player-connection-debug=0
player-connection-project-name=OddOmok
player-connection-ip=192.168.219.118
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5c137ae5e8f04a16bba072791ee87294
